  <div class="jumbotron">
	<h1>Cadastrar Documento</h1>
	
	<div clss="row">
		<form ng-submit="vm.cadastrarDocumento()" novalidate="true">
			<div class="col col-md-5">
				Nome: <input type="text" ng-required="true" ng-model="vm.documento.nome" ng-maxlength="20"/>
			</div>
			<div class="col col-md-5">
				Descricao: <input type="text" ng-required="true" ng-model="vm.documento.descricao" ng-maxlength="120"/>
			</div>
			<div class="col col-md-5">
				<input class="btn btn-success" type="submit" value="Cadastrar"/>		
				<input class="btn btn-success" type="button" value="Limpar" ng-click="limparTela()"/>
			</div>
		</form>
	</div>
	
</div>